@font-face {
  font-family: "iconfont"; /* Project id 3947582 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1678632868633') format('woff2'),
       url('iconfont.woff?t=1678632868633') format('woff'),
       url('iconfont.ttf?t=1678632868633') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sousuotianchong:before {
  content: "\e694";
}

.icon-sousuo:before {
  content: "\e71a";
}

.icon-categories:before {
  content: "\e687";
}

.icon-about:before {
  content: "\e62a";
}

.icon-archives:before {
  content: "\e670";
}

.icon-home:before {
  content: "\e641";
}

